<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}
    <link rel='stylesheet' href="{% static 'css/index.css' %}">

    <title>Pokemon Weakness Checker</title>
</head>

<body>
    <div class='container'>
        <h1>Select Opponent's Primary Type:</h1>
        <form action="/primaryType" method="post">
            {% csrf_token %}
            <input type='submit' class='btn btn-Normal' name="primaryType" value="Normal">
            <input type='submit' class='btn btn-Fighting' name="primaryType" value="Fighting">
            <input type='submit' class='btn btn-Flying' name="primaryType" value="Flying">
            <input type='submit' class='btn btn-Poison' name="primaryType" value="Poison">
            <input type='submit' class='btn btn-Ground' name="primaryType" value="Ground">
            <input type='submit' class='btn btn-Rock' name="primaryType" value="Rock">
            <input type='submit' class='btn btn-Bug' name="primaryType" value="Bug">
            <input type='submit' class='btn btn-Ghost' name="primaryType" value="Ghost">
            <input type='submit' class='btn btn-Steel' name="primaryType" value="Steel">
            <input type='submit' class='btn btn-Fire' name="primaryType" value="Fire">
            <input type='submit' class='btn btn-Water' name="primaryType" value="Water">
            <input type='submit' class='btn btn-Grass' name="primaryType" value="Grass">
            <input type='submit' class='btn btn-Electric' name="primaryType" value="Electric">
            <input type='submit' class='btn btn-Psychic' name="primaryType" value="Psychic">
            <input type='submit' class='btn btn-Ice' name="primaryType" value="Ice">
            <input type='submit' class='btn btn-Dragon' name="primaryType" value="Dragon">
            <input type='submit' class='btn btn-Dark-type' name="primaryType" value="Dark">
            <input type='submit' class='btn btn-Fairy' name="primaryType" value="Fairy">
        </form>
        <br><br>

        <h1>Select Opponent's Secondary Type:</h1>
        <form action="/secondaryType" method="post">
            {% csrf_token %}
            <input type='submit' class='btn btn-None' name="secondaryType" value="None">
            <input type='submit' class='btn btn-Normal' name="secondaryType" value="Normal">
            <input type='submit' class='btn btn-Fighting' name="secondaryType" value="Fighting">
            <input type='submit' class='btn btn-Flying' name="secondaryType" value="Flying">
            <input type='submit' class='btn btn-Poison' name="secondaryType" value="Poison">
            <input type='submit' class='btn btn-Ground' name="secondaryType" value="Ground">
            <input type='submit' class='btn btn-Rock' name="secondaryType" value="Rock">
            <input type='submit' class='btn btn-Bug' name="secondaryType" value="Bug">
            <input type='submit' class='btn btn-Ghost' name="secondaryType" value="Ghost">
            <input type='submit' class='btn btn-Steel' name="secondaryType" value="Steel">
            <input type='submit' class='btn btn-Fire' name="secondaryType" value="Fire">
            <input type='submit' class='btn btn-Water' name="secondaryType" value="Water">
            <input type='submit' class='btn btn-Grass' name="secondaryType" value="Grass">
            <input type='submit' class='btn btn-Electric' name="secondaryType" value="Electric">
            <input type='submit' class='btn btn-Psychic' name="secondaryType" value="Psychic">
            <input type='submit' class='btn btn-Ice' name="secondaryType" value="Ice">
            <input type='submit' class='btn btn-Dragon' name="secondaryType" value="Dragon">
            <input type='submit' class='btn btn-Dark' name="secondaryType" value="Dark">
            <input type='submit' class='btn btn-Fairy' name="secondaryType" value="Fairy">
        </form>
        <br><br>

        <h2>Primary Type Selected:</h2>
        {% if request.session.primaryType %}
            <button class="btn btn-{{request.session.primaryType}} btn-large no-click">{{request.session.primaryType}}</button>
        {% endif %}
        <h2>Secondary Type Selected:</h2>
        {% if request.session.primaryType %}
            <button class="btn btn-{{request.session.secondaryType}} btn-large no-click">{{request.session.secondaryType}}</button>
        {% endif %}
        <br><br>

        <a href="/superEffectiveCalculator" class="btn btn-primary">Run</a>
        <h2>Super effective types</h2>
        {% if request.session.mergedSuperEffective %}
            {% for type in request.session.mergedSuperEffective %}
                {% if type in request.session.doubleEffective %}
                    <button class="btn btn-{{type}} no-click btn-green-brd">{{type}}</button>
                {% else %}
                    <button class="btn btn-{{type}} no-click" >{{type}}</button>
                {% endif %}
            {% endfor %}
        {% endif %}
        <br><br>
        
        <h2>Not effective types</h2>
        {% if request.session.mergedNotEffective %}
            {% for type in request.session.mergedNotEffective %}
                {% if type in request.session.doubleNotEffective %}
                    <button class="btn btn-{{type}} no-click btn-red-brd">{{type}}</button>
                {% else %}
                    <button class="btn btn-{{type}} no-click">{{type}}</button>
                {% endif %}
            {% endfor %}
        {% endif %}
        <br><br>

        <h2>Immune types</h2>
        {% if request.session.mergedImmune %}
            {% for type in request.session.mergedImmune %}
                <button class="btn btn-{{type}} no-click">{{type}}</button>
            {% endfor %}
        {% endif %}
        <br>
    </div>
</body>

</html>