<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}
    <link rel='stylesheet' href="{% static 'css/index.css' %}">

    <title>Pokemon Weakness Checker</title>
</head>

<body>
    <div class='container'>
        <h1>Select Opponent's Primary Type:</h1>
        <form action="/primaryType" method="post">
            {% csrf_token %}
            <input type='submit' class='btn btn-normal' name="primaryType" value="Normal">
            <input type='submit' class='btn btn-fighting' name="primaryType" value="Fighting">
            <input type='submit' class='btn btn-flying' name="primaryType" value="Flying">
            <input type='submit' class='btn btn-poison' name="primaryType" value="Poison">
            <input type='submit' class='btn btn-ground' name="primaryType" value="Ground">
            <input type='submit' class='btn btn-rock' name="primaryType" value="Rock">
            <input type='submit' class='btn btn-bug' name="primaryType" value="Bug">
            <input type='submit' class='btn btn-ghost' name="primaryType" value="Ghost">
            <input type='submit' class='btn btn-steel' name="primaryType" value="Steel">
            <input type='submit' class='btn btn-fire' name="primaryType" value="Fire">
            <input type='submit' class='btn btn-water' name="primaryType" value="Water">
            <input type='submit' class='btn btn-grass' name="primaryType" value="Grass">
            <input type='submit' class='btn btn-electric' name="primaryType" value="Electric">
            <input type='submit' class='btn btn-psychic' name="primaryType" value="Psychic">
            <input type='submit' class='btn btn-ice' name="primaryType" value="Ice">
            <input type='submit' class='btn btn-dragon' name="primaryType" value="Dragon">
            <input type='submit' class='btn btn-dark-type' name="primaryType" value="Dark">
            <input type='submit' class='btn btn-fairy' name="primaryType" value="Fairy">
        </form>
        <br><br>

        <h1>Select Opponent's Secondary Type:</h1>
        <form action="/secondaryType" method="post">
            {% csrf_token %}
            <input type='submit' class='btn btn-none' name="secondaryType" value="None">
            <input type='submit' class='btn btn-normal' name="secondaryType" value="Normal">
            <input type='submit' class='btn btn-fighting' name="secondaryType" value="Fighting">
            <input type='submit' class='btn btn-flying' name="secondaryType" value="Flying">
            <input type='submit' class='btn btn-poison' name="secondaryType" value="Poison">
            <input type='submit' class='btn btn-ground' name="secondaryType" value="Ground">
            <input type='submit' class='btn btn-rock' name="secondaryType" value="Rock">
            <input type='submit' class='btn btn-bug' name="secondaryType" value="Bug">
            <input type='submit' class='btn btn-ghost' name="secondaryType" value="Ghost">
            <input type='submit' class='btn btn-steel' name="secondaryType" value="Steel">
            <input type='submit' class='btn btn-fire' name="secondaryType" value="Fire">
            <input type='submit' class='btn btn-water' name="secondaryType" value="Water">
            <input type='submit' class='btn btn-grass' name="secondaryType" value="Grass">
            <input type='submit' class='btn btn-electric' name="secondaryType" value="Electric">
            <input type='submit' class='btn btn-psychic' name="secondaryType" value="Psychic">
            <input type='submit' class='btn btn-ice' name="secondaryType" value="Ice">
            <input type='submit' class='btn btn-dragon' name="secondaryType" value="Dragon">
            <input type='submit' class='btn btn-dark-type' name="secondaryType" value="Dark">
            <input type='submit' class='btn btn-fairy' name="secondaryType" value="Fairy">
        </form>
        <br><br>

        <h2>Primary Type Selected:</h2>
        {{request.session.primaryType}}
        <h2>Secondary Type Selected:</h2>
        {{request.session.secondaryType}}
        <br><br>

        <a href="/superEffectiveCalculator" class="btn btn-primary">Run</a>
        <h2>Super effective types</h2>
        <b>Primary:</b> {{request.session.primarySuperEffective}}<br>
        <b>Secondary:</b> {{request.session.secondarySuperEffective}}<br>
        <b>Merged Effective:</b> {{request.session.mergedSuperEffective}}<br>
        <b>Double Effective:</b> {{request.session.doubleEffective}}

        <br><br>
        <h2>Not effective types</h2>
        <b>Primary:</b> {{request.session.primaryNotEffective}}<br>
        <b>Secondary:</b> {{request.session.secondaryNotEffective}}<br>
        <b>Merged Not Effective:</b> {{request.session.mergedNotEffective}}<br>
        <b>Double Not Effective:</b> {{request.session.doubleNotEffective}}
        <br><br>

        <h2>Immune types</h2>
        <b>Primary:</b> {{request.session.primaryImmune}}<br>
        <b>Secondary:</b> {{request.session.secondaryImmune}}<br>
        <b>Merged Immune:</b> {{request.session.mergedImmune}}
    </div>
</body>

</html>